@font-face {
    font-family: 'beleren-smallcaps';
    src: local('belerensmallcaps'), url(/src/fonts/belerensmallcaps-bold.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.card--basic{
    display: inline-block;
    width: 250px;
    height: auto;
    margin: 10px;
    align-items: center;
    font-family: beleren-smallcaps;
    margin-bottom: 15px;
}
.card--alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card--basic--header{
    overflow: wrap;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}
.card--basic--footer{
    overflow: wrap;
    text-align: center;
    font-size: 18px;
}
.emptyButtonSpot{
    height: 30px;
}