@font-face {
    font-family: 'beleren-smallcaps';
    src: local('belerensmallcaps'), url(/src/fonts/belerensmallcaps-bold.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'matrixb';
    src: local('matrixb'), url(/src/fonts/matrixb.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#cardExpandedInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: matrixb;
    font-size: 20px;
    padding-bottom: 1%;
    min-height: 68vh;
}

#cardExpandedInfo-Left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 40%;
    margin-left: 5%;
}

#cardExpandedInfo-Right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 40%;
    margin-right: 5%;
}

.textSplit{
    margin-bottom: 15px;
    text-align: center;
}
#P-T{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    text-align: center;
}
