@font-face {
    font-family: 'beleren-smallcaps';
    src: local('belerensmallcaps'), url(/src/fonts/belerensmallcaps-bold.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#UserFavorites{
    height: 620px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: beleren-smallcaps;
}
#favorites--header{
    display: inline-block;
}
#favCardsList{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 4px;
    width:100%;
    justify-content: space-evenly;
    overflow-y: auto;
    height: 470px;
    max-height: 470px;
}
.individualFavorite{
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}