@font-face {
    font-family: 'matrixb';
    src: local('matrixb'), url(/src/fonts/matrixb.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.addToFavoritesButton{
    background: linear-gradient(#b4bbc4, #4e4a37);
    color: #e2c974;
    font-family: matrixb;
    font-size: 24px;
    margin-left: 91%;
    width: 30px;
    height: 30px;
}

.removeFavorite{
    background: linear-gradient(#b4bbc4, #4e4a37);
    color: #e2c974;
    font-family: matrixb;
    font-size: 24px;
    width: 30px;
    margin-bottom: -40px;
    align-self: end;
    height: 30px;
    z-index: 99;
}

.addToFavoritesButton:hover{
    background: linear-gradient(#b4bbc4, rgb(0, 175, 0));
}

.removeFavorite:hover{
    background: linear-gradient(#b4bbc4, rgb(175, 0, 0));
}