#errorOccurred{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#takeMeBack--a{
    font-family: beleren-smallcaps;
    text-decoration: none;
    margin: 8px;
    color: black;
}
#takeMeBack--a:hover{
    color:#e2c974;
}

#takeMeBack--button{
    background: linear-gradient(#b4bbc4, #4e4a37);
    color: #e2c974;
    font-family: matrixb;
    font-size: 24px;
    width: 35%;
    align-self: center;
    margin-bottom: 5px;
}

#takeMeBack--button:hover{
    background: linear-gradient(#b4bbc4, rgb(175, 0, 175));
}