@font-face {
    font-family: 'matrixb';
    src: local('matrixb'), url(/src/fonts/matrixb.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#header--profile {
    display: flex;
    flex-direction: row;
    height:50px;
    width: auto;
    max-width: 300px;
    font-family: matrixb;
    color: #e2c974;
    font-size: 22px;
    align-items: center;
    background: linear-gradient(#b4bbc4, #4e4a37) padding-box,
        linear-gradient(to right bottom, darkgray, #D7E0EA) border-box;
    border-radius: 4px;
    border: 3px solid transparent;
    margin-right: 3%;
}
#logout__button{
    background: linear-gradient(#b4bbc4, #4e4a37);
    color: #e2c974;
    font-family: matrixb;
    font-size: 14px;
    justify-self:flex-start;
    align-self: flex-end;
}
#userName{
    display: inline-block;
    align-self: flex-end;
    margin-left: 5px;
}