@font-face {
    font-family: 'beleren-smallcaps';
    src: local('belerensmallcaps'), url(/src/fonts/belerensmallcaps-bold.ttf) format('TrueType');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#main--navbar{
    font-family: beleren-smallcaps;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    background-color: #b39c2a;
    padding-bottom: 4px;
    border-bottom: solid black 2px;
}
.header__link{
    text-decoration: none;
    margin: 8px;
    color: rgb(53, 53, 53);
}
#header--name{
    color: rgb(53, 53, 53);
}
.header__link:hover{
    color:#e2c974;
}
input{
    font-family: beleren-smallcaps;
    font-size: 20px;
    border: solid black 2px;
}
#navSearch--Button{
    font-family: beleren-smallcaps;
    background: linear-gradient(#b4bbc4, #4e4a37);
    font-size: 20px;
    color: #e2c974;
}